<footer class="mt-5 container">
    <div class="d-flex align-items-center justify-content-center mt-5">
        <div class="w-75 gap-2 d-flex justify-content-start align-items-center">
            <h3 class="fw-bold text-danger"><i class="fa-regular fa-circle-question"></i> anhngo.com
            </h3>
        </div>
        <div class="line w-75"></div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <h6 class="fw-bold">Về chúng tôi</h6>
            <p class="text-muted fs-6">Chúng tôi cung cấp dịch vụ tải game tốc độ cao với chi phí rẻ nhất</p>
        </div>
        <div class="col-lg-3 col-sm-12">
            <h6 class="fw-bold">Liên hệ</h6>
            <p class="text-muted fs-12">Email:
                <a href="mailto:shopthuegameanhngo@gmail.com">shopthuegameanhngo@gmail.com</a>
            </p>
        </div>
        <div class="col-lg-3 col-sm-12">
            <h6 class="fw-bold">Địa chỉ</h6>
            <p class="text-muted fs-6">123 Đường ABC, Quận 1, TP. HCM</p>
        </div>
        <div class="col-lg-3 col-sm-12">
            <h6 class="fw-bold">Theo dõi chúng tôi</h6>
            <iframe src="https://www.youtube.com/embed/uY5FwOFg3y0?si=Uzwiou8tHIRX76X6"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <p class="text-muted text-center mt-5">© 2024 Anh Ngo. Đã đăng ký bản quyền</p>
    </div>
</footer>