<footer class="">
    <div class="container">
        <div class="line"></div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <h6 class="fw-bold">Về chúng tôi</h6>
                <p class="text-muted fs-6">Chúng tôi cung cấp dịch vụ tải game tốc độ cao với chi phí rẻ nhất</p>
            </div>
            <div class="col-lg-3">
                <h6 class="fw-bold">Liên hệ</h6>
                <p class="text-muted fs-6">Email:
                    <a href="mailto:ngovietanh121@gmail.com">ngovietanh121@gmail.com</a>
                </p>
            </div>
            <div class="col-lg-3">
                <h6 class="fw-bold">Địa chỉ</h6>
                <p class="text-muted fs-6">123 Đường ABC, Quận 1, TP. HCM</p>
            </div>
            <div class="col-lg-3">
                <h6 class="fw-bold">Theo dõi chúng tôi</h6>
                <iframe src="https://www.youtube.com/embed/uY5FwOFg3y0?si=Uzwiou8tHIRX76X6"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div>
            <p class="text-muted text-center mt-5">© 2024 Anh Ngo. Đã đăng ký bản quyền</p>
        </div>
    </div>
</footer>