<!-- Modal -->
<div class="modal fade" id="NOTIFICATION" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-4">
                <ul class="p-0">
                    <li class="d-flex align-items-center gap-3 border-start border-danger border-5 mb-3">
                        <i class="fa-solid fa-bell ms-2"></i>
                        <div>
                            <h5 class="fw-bold">Thông báo 1</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet asperiores beatae
                                commodi, dolor eius facere hic incidunt ipsum itaque laboriosam magnam obcaecati
                                perferendis quasi quia quisquam quo rem voluptate.</p>
                        </div>
                    </li>
                    <li class="d-flex align-items-center gap-3 border-start border-danger border-5 mb-3">
                        <i class="fa-solid fa-bell ms-2"></i>
                        <div>
                            <h5 class="fw-bold">Thông báo 1</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet asperiores beatae
                                commodi, dolor eius facere hic incidunt ipsum itaque laboriosam magnam obcaecati
                                perferendis quasi quia quisquam quo rem voluptate.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>